---
import EmailForms from "../components/EmailForms.astro"
const PUBLIC_TITLE = import.meta.env.PUBLIC_TITLE ?? "PLACEHOLDER_PUBLIC_TITLE"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{PUBLIC_TITLE}</title>
  </head>
  <body>
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="mx-auto max-w-2xl py-12 sm:py-16 lg:py-24">
        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">{PUBLIC_TITLE}</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Please visit <a href="https://docs.hostfurl.com.au/guides/edit-new-site/" class="font-semibold text-indigo-600">Hostfurl Documentation</a> to learn how to edit and use your site</p>
        </div>
      </div>
    </div>
    <EmailForms />
  </body>
</html>
